<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


<!-- ***** About Us Page ***** -->
<div class="page-heading-shows-events">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-lg-12">
                <h1 *ngFor="let candidature of tabCandidatures">Bienvenue {{ candidature.individu?.nom }} &nbsp; {{
                    candidature.individu?.prenom }}</h1>
                <!-- <h1 *ngFor="let candidature of tabCandidatures">Nos Offres </h1> -->
            </div>
        </div>
    </div>
</div>




<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s"
                style="color: rgba(0, 0, 0, 0.719);font-family:serif;">Mes
                candidature</h1>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item" *ngFor="let etat of tabEtatCandidature">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3">
                            <h6 class="mt-n1 mb-0">{{ etat }}</h6>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4" *ngFor="let candidature of tabCandidatures">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded"
                                        src="../../../../assets/images/nestech.jpg" alt=""
                                        style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">{{ candidature.posteVacant?.nom }}</h5>
                                        <span class="text-truncate me-3"><i class="far fa-user me-2"></i>
                                            {{ candidature.posteVacant?.poste?.nom }}
                                        </span>
                                        <span class="text-truncate me-3"><i class="far fa-clock  me-2"></i>{{
                                            candidature.posteVacant?.typeContrat?.type }}</span>
                                        <span class="text-truncate me-0"><i class="fas fa-info-circle me-2"></i>{{
                                            candidature.posteVacant?.poste?.reference }}</span>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" href=""><i
                                                class="far fa-heart text-danger"></i></a>
                                        <a class="btn btn-outline-dark"
                                            [routerLink]="['/offre/dtail', candidature.posteVacant?.id]">Detail
                                            du
                                            poste</a>
                                    </div>
                                    <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-danger me-2"></i>Date
                                        Line: {{ candidature.posteVacant?.session?.dateCloture }}</small>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>