<div class="span8">
    <div class="navbar navbar-static-top">
        <div class="navigation">
            <nav>
                <ul class="nav topnav">
                    <li class="dropdown active">
                        <a [routerLink]="['/']">Home </a>

                    </li>
                    <li class="dropdown">
                        <a href="#">Groupes <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Typography</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About us</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Portfolio <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Portfolio 2 columns</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Blog <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Blog left sidebar</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end navigation -->
    </div>
</div>