
    #topbar {
      height: 40px;
      font-size: 14px;
      transition: all 0.5s;
      color: #f03c02;
      padding: 0;
    }
    

    
    #topbar .contact-info i a {
      line-height: 0;
      transition: 0.3s;
      transition: 0.3s;
    }
    

    
    #topbar .social-links a {
      color: #f03c02;
      line-height: 0;
      transition: 0.3s;
      margin-left: 20px;
    }
    
    #topbar .social-links a:hover {
      color: black;
    }


    a {
      color: #f03c02;
      text-decoration: none;
    }


    #topbar .contact-info i a:hover {
      color: #f03c02;
      text-decoration: underline;
    }
        #topbar .contact-info i {
      font-style: normal;
      color: #f03c02;
    }
    
    #topbar .contact-info i a,
    #topbar .contact-info i span {
      padding-left: 5px;
      color: #f03c02;
      font-size: 12;
    }
    
    
    .custom-signin-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      outline: 0;
    }
    
    span{
      margin-top: 4px; 

    }

