<h2 class="card-title pt-4 pb-4">

    {{ formulaire ? 'Nom de document update' : 'Nom de document create' }}

</h2>

<div class="card-body" style="width: 500px;margin-bottom: 200px;" *ngIf="form">

    <div *ngIf="errorMessage" class="alert alert-danger text-center p-4 m-4">
        {{ errorMessage }}
    </div>



    <form class="row g-3" [formGroup]="form" (ngSubmit)="create()">
        <div class="col-12">
            <label for="inputNanme4" class="form-label">Type de piece jointe</label>
            <input type="text" class="form-control" id="inputNanme4" formControlName="nom">
        </div>
        <div class="col-12 text-center pt-4" *ngIf="formulaire">
            <app-submit></app-submit>
            <app-annuler [routerLink]="['/admin/nom-document']" class="ms-2"></app-annuler>
        </div>

        <div class="col-12 text-center pt-4" *ngIf="!formulaire">
            <app-submit></app-submit>
            <app-annuler [routerLink]="['/admin/nom-document']" class="ms-2"></app-annuler>
        </div>

    </form>



</div>