<h2 class="card-title pt-4 pb-4">

    {{ formulaire ? 'Poste de Travail Register' : 'toto' }}

</h2>
<div class="card-body" style="width: 500px;margin-bottom: 200px;" *ngIf="form">




    <form class="row g-3" [formGroup]="form" (ngSubmit)="create()">
        <div class="col-12">
            <label for="inputNanme4" class="form-label">Reference du poste</label>
            <input type="text" class="form-control" id="inputNanme4" formControlName="nom">
        </div>

        <div class="col-12">
            <label for="inputEmail4" class="form-label">Nom du Poste</label>
            <input type="text" class="form-control" id="inputEmail4" formControlName="reference">
        </div>

        <div class="col-12 text-center pt-4" *ngIf="formulaire">
            <app-submit></app-submit>
            <app-annuler [routerLink]="['/admin/poste-de-travail']" class="ms-2"></app-annuler>
        </div>

        <div class="col-12 text-center pt-4" *ngIf="!formulaire">
            <app-submit></app-submit>
            <app-annuler [routerLink]="['/admin/poste-de-travail']" class="ms-2"></app-annuler>
        </div>

    </form>



</div>