<div class="card-body" style="width: 600px;margin-bottom: 200px;">



    <form (ngSubmit)="ajoutPoste()">
        <div *ngIf="errorMessage" class="alert alert-danger text-center p-4 m-4">
            {{ errorMessage }}
        </div>
        <h2 class="card-title pt-4 pb-4 text-secondary">
            {{ posteVacant.id ? 'Mise à jour du Poste Vacant' : 'Ajouter un Poste Vacant' }}
        </h2>
        <div class="col-12 mb-2">
            <label for="inputState" class="form-label">Pour quel poste</label>
            <select id="inputState" class="form-select" [(ngModel)]="posteDeTravail.nom" name="name" required>
                <option *ngFor="let name of posteNom" [value]="name">{{ name }}</option>
            </select>
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label">Nom poste Vacant</label>
            <input type="text" class="form-control" id="inputState" [(ngModel)]="posteVacant.nom" name="nom">
        </div>



        <div class="col-12 mb-2">
            <label for="inputState" class="form-label">Reference de la session de recrutement</label>
            <select id="inputState" class="form-select" [(ngModel)]="sessionCan.reference" name="ref" required>
                <option *ngFor="let ref of sessionRef" [value]="ref">{{ ref }}</option>
            </select>
        </div>
        <div class="col-12 mb-2">
            <label for="inputState" class="form-label">Type de contrat</label>
            <select id="inputState" class="form-select" [(ngModel)]="typeDeContrat.type" name="type" required>
                <option *ngFor="let type of typeContratNom" [value]="type">{{ type }}</option>
            </select>
        </div>

        <div class="col-12 mb-12" style="width: 1000px;">
            <label for="inputState" class="form-label">Description:</label>
            <div class="editor bg-white" style="height: 500px; border: 1px solid #ccc; width: 1000px;"
                [(ngModel)]="posteVacant.descriptif" name="descriptif"></div>
        </div>




        <div class="col-12 text-center pt-4 mt-4">
            <app-submit></app-submit>
            <app-annuler [routerLink]="['/admin/poste-vacant']" class="ms-2"></app-annuler>
        </div>

        <!-- <div>
            <button type="submit">Ajouter Test</button>
        </div> -->

    </form>

</div>