<div class="card-body">
    <app-add disabled></app-add>



    <table class="table datatable">
        <thead class="table table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Etat de candidature</th>
            </tr>
        </thead>


        <tbody class="">
            <tr *ngFor="let etat of etatCandidature">
                <td> <button type="button" class="btn-reference rounded-pill mt-1">{{ etat.id }}</button>
                </td>
                <td>{{ etat.etat }}</td>

            </tr>

        </tbody>
    </table>
</div>