<div class="page-heading-shows-events">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-lg-12">
                <h1>Apply For The Job </h1>
            </div>
        </div>
    </div>
</div>
<div class="tickets-page">
    <div class="container">
        <div class="row">

            <div class="tab-content">
                <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="container">
                        <div class="row gy-5 gx-4">
                            <div class="col-lg-8">
                                <div class="d-flex align-items-center mb-5">
                                    <img class="flex-shrink-0 img-fluid border rounded"
                                        src="../../../../assets/images/nestech.jpg" alt=""
                                        style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h3 class="mb-3">
                                            <p *ngIf="posteSelectionne">Apply For <span
                                                    style="color: rgba(0, 0, 0, 0.641);">{{ posteSelectionne.poste?.nom
                                                    }}</span>
                                            </p>
                                        </h3>
                                        <span class="text-truncate me-3" *ngIf="posteSelectionne"><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>Ref : {{
                                            posteSelectionne.session?.reference }}</span>
                                        <span class="text-truncate me-3" *ngIf="posteSelectionne"><i
                                                class="far fa-clock text-primary me-2"></i>
                                            {{ posteSelectionne.typeContrat?.type }}
                                        </span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>A negocier</span>
                                    </div>
                                </div>

                                <div class="mb-5">

                                    <div class=" bg-white p-3">

                                    </div>

                                </div>

                                <div class="">
                                    <form>
                                        <div class="row g-3">

                                            <div class="col-md-6">
                                                <label for="inputState" class="form-label">Civilite</label>
                                                <select id="inputState" class="form-select"
                                                    [(ngModel)]="civilite.designation" name="designation" required>
                                                    <option *ngFor="let designation of tabCivilite"
                                                        [value]="designation">{{ designation }}
                                                    </option>
                                                </select>
                                            </div>


                                            <div class="col-12 col-sm-8">
                                                <label for="inputState" class="form-label">Prenom</label>
                                                <input type="text" class="form-control" placeholder="First Name"
                                                    type="text" [(ngModel)]="individu.prenom" name="prenom">
                                            </div>
                                            <div class="col-12 col-sm-8">
                                                <label for="inputState" class="form-label">Nom</label>
                                                <input type="text" class="form-control" [(ngModel)]="individu.nom"
                                                    name="nom" placeholder="Last Name">
                                            </div>


                                            <div class="col-12 col-sm-6">
                                                <label for="inputState" class="form-label">pays</label>
                                                <select id="inputState" class="form-select"
                                                    [(ngModel)]="pays.designation" name="designation" required>
                                                    <option *ngFor="let designation of tabPays" [value]="designation">{{
                                                        designation
                                                        }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-8">
                                                <label for="inputState" class="form-label">Telephone</label>
                                                <input type="text" class="form-control" [(ngModel)]="individu.telephone"
                                                    name="telephone" placeholder="telephone">
                                            </div>

                                            <div class="col-12 col-sm-8 ">
                                                <label for="inputState" class="form-label">Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon1">@</span>
                                                    <input type="email" class="form-control" placeholder="your email"
                                                        aria-label="Username" aria-describedby="basic-addon1"
                                                        [(ngModel)]="individu.email" name="email">
                                                </div>
                                            </div>


                                            <div class="col-12 col-sm-6">
                                                <label for="inputState2" class="form-label">Piece jointe 1</label>
                                                <select id="inputState2" class="form-select" [(ngModel)]="nomDoc.nom"
                                                    name="nom" required>
                                                    <option *ngFor="let nom of tabNomDoc" [value]="nom">{{ nom }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-8">
                                                <label for="inputState" class="form-label">Ajouter votre piece
                                                    jointe</label>
                                                <input type="file" class="form-control bg-white"
                                                    (change)="onFileSelected($event)">
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label for="inputState3" class="form-label">Piece jointe 2</label>
                                                <select id="inputState3" class="form-select" [(ngModel)]="nomDoc1.nom"
                                                    name="nom" required>
                                                    <option *ngFor="let nom of tabNomDoc1" [value]="nom">{{ nom }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-8">
                                                <label for="inputState" class="form-label">Ajouter votre piece
                                                    jointe</label>
                                                <input type="file" class="form-control bg-white"
                                                    (change)="onFileSelected1($event)">
                                            </div> <br><br><br><br><br><br><br>



                                            <div class="col-8 mt-5" style="margin-top: 30px;">
                                                <div class="d-flex">

                                                    <button class="btn btn-primary flex-grow-1 mx-2"
                                                        (click)="uploadPdf()" data-bs-target="#exampleModal"
                                                        data-bs-toggle="modal">Apply
                                                        Now</button>

                                                    <button class="btn btn-primary flex-grow-1 mx-2"
                                                        [routerLink]="['/offre']">Return</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>



                            </div>

                            <div class="col-lg-4">
                                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                                    <h4 class="mb-4">Job Summery</h4>


                                    <p *ngIf="posteSelectionne"><i
                                            class="fa fa-angle-right text-primary me-2"></i>Published On: {{
                                        posteSelectionne.session?.dateOuverture }}</p>
                                    <p *ngIf="posteSelectionne"><i class="fa fa-angle-right text-primary me-2"></i>Date
                                        Line: {{ posteSelectionne.session?.dateCloture }}</p>

                                    <p *ngIf="posteSelectionne"><i class="fa fa-angle-right text-primary me-2"></i>Job
                                        Nature: {{ posteSelectionne.typeContrat?.type }}</p>
                                    <p *ngIf="posteSelectionne"><i class="fa fa-angle-right text-primary me-2"></i>Ref
                                        Session: {{ posteSelectionne.session?.reference }}</p>
                                    <p *ngIf="posteSelectionne"><i class="fa fa-angle-right text-primary me-2"></i>Ref
                                        Poste: {{
                                        posteSelectionne.poste?.reference }}</p>
                                    <p *ngIf="posteSelectionne"><i
                                            class="fa fa-angle-right text-primary me-2"></i>Salary: A negocier</p>
                                </div>
                                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                                    <h4 class="mb-4">Company Detail</h4>
                                    <p class="m-0">Notre mission depuis 30 ans ? Être présent au bon moment !

                                        Notre expertise ? Accompagner nos clients à capter l'attention de l'utilisateur
                                        et transformer cette interaction furtive en une interaction mémorable. C'est
                                        dans cette optique que nous accompagnons les entreprises dans la mise en oeuvre,
                                        et le pilotage de dispositifs digitaux pour une expérience utilisateur
                                        réinventée.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2 col-12 mt-4 mt-lg-0">
                        <img src="../../../../assets/images/nestech.jpg" class="img-fluid product-image" alt="">
                    </div>
                    <div class="col-lg-10 col-12 mt-3 mt-lg-0">
                        <h3 class="modal-title" id="exampleModalLabel" style="color: #f03c02;">Votre Candidature est
                            bien
                            enregistrée</h3>
                        <p class="product-price text-white mt-3">Si vous n'avez pas encore de
                            compte et que vous
                            souhaitez en créer un pour suivre vos
                            candidatures ... </p>
                        <h4 style="color: white;">Facile</h4>
                        <span class="product-price  mt-3" style="color: #8e7f79;">il suffit de cliquer sur
                            <b>Continuer</b> et saisir
                            votre mot de passe</span>
                    </div>
                </div>
            </div>




            <div class="modal-footer mt-4">
                <form>

                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="redirectToHome()">Cancel</button>

                    <button type="submit" class="btn btn-secondary mx-2" data-bs-dismiss="modal"
                        (click)="redirectToRegister()" style="background-color: #4d4643;">Continuer</button>

                </form>
            </div>
        </div>
    </div>
</div>