/*
---------------------------------------------
Tickets Page
---------------------------------------------
*/
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                #FFFFFF;
  --primary-color:              #FF4400;
  --section-bg-color:           #f0f8ff;
  --dark-color:                 #000000;
  --grey-color:                 #d0d1d1;
  --p-color:                    #717275;

  --body-font-family:           'Inter', sans-serif;

  --h5-font-size:               24px;
  --p-font-size:                20px;
  --copyright-text-font-size:   16px;
  --product-link-font-size:     14px;
  --custom-link-font-size:      12px;

  --font-weight-thin:           100;
  --font-weight-light:          300;
  --font-weight-normal:         400;
  --font-weight-bold:           700;
  --font-weight-black:          900;
}


.modal-body {
  padding: 4rem;
  background-color: #130e0e;
  color: #FFFFFF;
}

.modal-header {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.modal-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  margin: 32px;
}

#cart-modal .modal-header .btn-close {
  z-index: 2;
  margin: 22px;
}

#cart-modal .modal-header {
  border-bottom: 0;
  padding: 0;
}

#cart-modal .modal-footer {
  padding: 2rem 4rem;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

.tickets-page {
    margin-bottom: 100px;
    }
    

    
  .tickets-page .heading h2 {
  font-size: 30px;
  font-weight: 800;
  color: #2a2a2a;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  }
  

      
      @media (max-width: 992px) {

      
        .sub-footer,
        .sub-footer .social-links {
          text-align: center;
        }

        
        .also-like .like-item {
          margin-bottom: 30px;
        }
      
        .page-heading-rent-venue span,
        .page-heading-shows-events span {
          padding: 0px;
        }
      
        .rent-venue-tabs .heading-tabs .main-dark-button,
        .shows-events-tabs .heading-tabs .main-dark-button {
          display: none;
        }
      
        .shows-events-tabs #tabs ul li {
          margin-bottom: 15px;
        }
      
        .shows-events-tabs .tabs-content .event-item .right-content ul li i {
          height: 40px;
        }
        .shows-events-tabs .tabs-content .event-item .right-content {
          padding: 30px;
        }
      
        .shows-events-tabs #tabs ul li:last-child {
          margin-bottom: 0px;
        }
      
        .shows-events-tabs .tabs-content .sidebar {
          margin-bottom: 45px;
        }
      
        .tickets-page .search-box {
          text-align: center;
        }
        
        .tickets-page .search-box .main-dark-button,
        .tickets-page .search-box select {
          margin-top: 30px;
        }
      

        .ticket-details-page .right-content {
          margin-left: 0px;
          margin-top: 30px;
        }
      
        .shows-events-schedule ul li,
        .shows-events-schedule ul li .main-dark-button {
          text-align: center;
        }
      
        .shows-events-schedule ul li .title,
        .shows-events-schedule ul li .time,
        .shows-events-schedule ul li .place {
          margin-bottom: 15px;
        }
      
      }
      
      @media (max-width: 450px) {
      
        .rent-venue-tabs #tabs ul li {
          text-align: center;
          margin-right: 0px;
          display: block;
          margin-bottom: 5px;
          margin-top: 5px;
        } 
      
        .rent-venue-tabs #tabs ul .ui-tabs-active a:after,
        .shows-events-tabs #tabs ul .ui-tabs-active a:after {
          display: none;
        }
      
        .rent-venue-tabs .tabs-content ul.list {
          text-align: center;
        }
      
        .rent-venue-tabs .tabs-content ul.list li {
          text-align: center;
          width: 100%;
        }
      
        .pre-header {
          display: none;
        }
      
      }
      
      
      @-webkit-keyframes move-up-down {
        0% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px); }
        50% {
          -webkit-transform: translateY(-5px);
                  transform: translateY(-5px); }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px); } 
      }
    
    /*** Job Listing ***/
    .nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
    }
    
    .job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    }
    
    .job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
    } 
    
      
    
    /*** Button ***/
    .btn {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        transition: .5s;
    }
    
    

  
  .btn.btn-primary,
  .btn.btn-secondary {
    color: #fff;
    background: #f03c02;
    border: none;
  }
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /********** Template CSS **********/

    

    .page-heading-shows-events {

      background-image: url(../../../../assets/img/slides/nivo/bg-3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 10px 0px 150px 0px;
      text-align: center;
    }
    
    .page-heading-shows-events h1{
      font-size: 70px; 
      font-weight: 500;  
      color: #ffffff91;
      font-family:serif;
    }
    
.page-heading-rent-venue span,
.page-heading-shows-events span {
  padding: 0px;
}