<div class="col-lg-6 col-12 mt-4 mt-lg-0">
    <button type="submit" class="btn custom-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cart-modal"
        (click)="titi()">Add to
        Cart</button>
</div>



<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2 col-12 mt-4 mt-lg-0">
                        <img src="../../../../assets/images/nestech.jpg" class="img-fluid product-image" alt="">
                    </div>

                    <div class="col-lg-10 col-12 mt-3 mt-lg-0">
                        <h3 class="modal-title" id="exampleModalLabel" style="color: white;">Votre Candidature est bien
                            enregistrée</h3>

                        <p class="product-price text-muted mt-3">Si vous souhaitez creer votre compte pour suivre vos
                            candidatue ... </p>
                        <h4 style="color: white;">Facile</h4>

                        <span class="product-price text-muted mt-3">il suffit de cliquer sur
                            <b>Continuer</b> et saisir votre mot de passe
                        </span>



                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelButton"
                    [routerLink]="['/']">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmButton"
                    style=" background-color: #207297;">Continuer</button>
            </div>
        </div>

    </div>
</div>




<!-- <div class="col-lg-6 col-12 mt-4 mt-lg-0">
    <button type="submit" class="btn custom-btn cart-btn" (click)="openModal()">Add to Cart</button>
</div>


<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2 col-12 mt-4 mt-lg-0">
                        <img src="../../../../assets/images/nestech.jpg" class="img-fluid product-image" alt="">
                    </div>

                    <div class="col-lg-10 col-12 mt-3 mt-lg-0">
                        <h3 class="modal-title" id="exampleModalLabel" style="color: white;">Votre Candidature est bien
                            enregistrée</h3>
                        <p class="product-price text-muted mt-3">Si vous souhaitez creer votre compte pour suivre vos
                            candidatures ... </p>
                        <h4 style="color: white;">Facile</h4>
                        <span class="product-price text-muted mt-3">il suffit de cliquer sur <b>Continuer</b> et saisir
                            votre mot de passe</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmButton"
                    style="background-color: #207297;">Continuer</button>
            </div>
        </div>
    </div>
</div> -->