/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                #FFFFFF;
  --primary-color:              #FF4400;
  --section-bg-color:           #f0f8ff;
  --dark-color:                 #000000;
  --grey-color:                 #d0d1d1;
  --p-color:                    #717275;

  --body-font-family:           'Inter', sans-serif;

  --h5-font-size:               24px;
  --p-font-size:                20px;
  --copyright-text-font-size:   16px;
  --product-link-font-size:     14px;
  --custom-link-font-size:      12px;

  --font-weight-thin:           100;
  --font-weight-light:          300;
  --font-weight-normal:         400;
  --font-weight-bold:           700;
  --font-weight-black:          900;
}

.custom-btn {
  background: #000000;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: var(--copyright-text-font-size);
  text-transform: uppercase;
  padding: 16.50px 20px;
}



.custom-modal-btn {
  background: var(--grey-color);
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 32px;
  width: 42px;
  height: 42px;
}

.modal-body {
  padding: 4rem;
  background-color: #207297;
}

.modal-header {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.modal-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  margin: 32px;
}

#cart-modal .modal-header .btn-close {
  z-index: 2;
  margin: 22px;
}

#cart-modal .modal-header {
  border-bottom: 0;
  padding: 0;
}

#cart-modal .modal-footer {
  padding: 2rem 4rem;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}