<div *ngIf="errorMessage" class="alert alert-danger text-center p-4 m-4">
    {{ errorMessage }}
</div>


<app-add [routerLink]="['/admin/nom-document/add']"></app-add>
<div class="card-body">

    <table class="table datatable">
        <thead class="table table-info">
            <tr>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let nomDoc of nomDocument | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{ nomDoc.nom }}</td>


                <td>
                    <app-update [routerLink]="['/admin/nom-document/edit', nomDoc.id]"></app-update>

                    <app-delete (click)="deleteSession(nomDoc.id)"></app-delete>
                </td>
            </tr>

        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" class="pagination"></pagination-controls>

</div>