<div class="card-body">
    <app-add [routerLink]="['/admin/nom-document/add']"></app-add>

    <div class="alert alert-warning" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <table class="table datatable">
        <thead class="table table-secondary">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col"> Detail</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let nomDoc of nomDocument | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{ nomDoc.nom }}</td>


                <td>
                    <app-update [routerLink]="['/admin/nom-document/edit', nomDoc.id]"></app-update>

                    <app-delete (click)="deleteSession(nomDoc.id)"></app-delete>
                </td>
            </tr>

        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" class="pagination"></pagination-controls>

</div>