<!-- <app-add></app-add> -->



<div class="card-body">
    <app-add [routerLink]="['/admin/poste-de-travail/add']"></app-add>



    <div class="alert alert-warning" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <table class="table datatable">
        <thead class="table table-secondary ">
            <!-- <thead class="table table-secondary text-center"> -->
            <tr>
                <th scope="col">Reference</th>
                <th scope="col">Nom du poste</th>
                <th scope="col"> Detail</th>
            </tr>
        </thead>


        <tbody class="">
            <!-- <tbody class="text-center"> -->
            <tr *ngFor="let poste of posteDeTravail | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td> <button type="button" class="btn-reference rounded-pill mt-1">{{ poste.reference }}</button>
                </td>
                <td>{{ poste.nom }}</td>
                <td>

                    <!-- <app-view (click)="toto(poste.id)"></app-view> -->
                    <app-voir (click)="toto(poste.id)"
                        [routerLink]="['/admin/poste-de-travail/fiche', poste.id]"></app-voir>
                    <app-delete (click)="deletePoste(poste.id)"></app-delete>
                    <app-update [routerLink]="['/admin/poste-de-travail/edit', poste.id]"></app-update>


                </td>
            </tr>

        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" class="pagination "></pagination-controls>

</div>
<div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="posteSelectionne">Détails pour le poste : <b>{{ posteSelectionne.nom
                        }}</b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngIf="posteSelectionne">Référence : {{ posteSelectionne.reference }}</p>
                <p *ngIf="posteSelectionne">Nom : {{ posteSelectionne.nom }}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>