<!-- <app-add></app-add> -->
<app-add [routerLink]="['/admin/poste-de-travail/add']"></app-add>



<div class="card-body">

    <table class="table datatable">
        <thead class="table table-info">
            <tr>
                <th scope="col">Reference</th>
                <th scope="col">Nom</th>
                <th scope="col"> Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poste of posteDeTravail | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{ poste.reference }}</td>
                <td>{{ poste.nom }}</td>
                <td>
                    <app-view (click)="toto(poste.id)"></app-view>
                    <app-delete (click)="deletePoste(poste.id)"></app-delete>
                    <app-update [routerLink]="['/admin/poste-de-travail/edit', poste.id]"></app-update>


                </td>
            </tr>

        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" class="pagination"></pagination-controls>
    <!-- 
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->



</div>
<div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="posteSelectionne">Détails pour le poste : <b>{{ posteSelectionne.nom
                        }}</b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngIf="posteSelectionne">Référence : {{ posteSelectionne.reference }}</p>
                <p *ngIf="posteSelectionne">Nom : {{ posteSelectionne.nom }}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>