<div class="card-body">
    <app-add disabled></app-add>


    <table class="table datatable">
        <thead class="table table-secondary ">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type De Contrat</th>
            </tr>
        </thead>


        <tbody class="">
            <tr *ngFor="let contrat of typeDeContrat">
                <td> <button type="button" class="btn-reference rounded-pill mt-1">{{ contrat.id }}</button>
                </td>
                <td>{{ contrat.type }}</td>

            </tr>

        </tbody>
    </table>


</div>