.btn-warning{
    /* background-color: rgb(15, 78, 119);
    border: rgb(15, 78, 119); */
    margin-bottom: 2%;
    margin-top: 2%;
    color: rgb(15, 78, 119);
    /* color: #ffffffd8; */
    padding: 10px;
    width: 100px;
    
}