<div>
    <div>
        <div>
            <div>
                <h5 class="modal-title">Détails du poste de travail</h5>
            </div>
            <div>
                <p *ngIf="posteSelectionne">Référence : {{ posteSelectionne.reference }}</p>
                <p *ngIf="posteSelectionne">Nom : {{ posteSelectionne.nom }}</p>

            </div>
            <div>
                <app-retour [routerLink]="['/admin/poste-de-travail']"></app-retour>

            </div>
        </div>
    </div>
</div>