<app-retour [routerLink]="['/admin/poste-de-travail']"></app-retour>

<div class="the-details mt-4">

    <div>
        <div>
            <div>
                <h4 class="modal-title" *ngIf="posteSelectionne">Détails pour le poste : {{ posteSelectionne.nom }}</h4>
            </div>
            <div class="mt-4">
                <p *ngIf="posteSelectionne"><b>Référence :</b> {{ posteSelectionne.reference }}</p>
                <p *ngIf="posteSelectionne"><b>Nom :</b> {{ posteSelectionne.nom }}</p>

            </div>
            <!-- <div style="text-align: center;">
                <app-retour [routerLink]="['/admin/poste-de-travail']"></app-retour>

            </div> -->
        </div>
    </div>
</div>