/*
---------------------------------------------
Tickets Page
---------------------------------------------
*/




/* .form-floating{

  width: 100%; height: 70%;
}
.test {
opacity: 0.4;
padding-bottom: 0px !important;
padding: 0px 0px 0px 0px;
}

.form-floating .form-select{
  margin-top: 10px;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding: 5px;
} */

















/* .nav-user{
  background-color: #a91a1a;
} */
.page-heading-shows-events {
  background-image: url(../../../../assets/img/slides/nivo/bg-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px 150px 0px;
  text-align: center;
}
.page-heading-shows-events h1{
  font-size: 40px; 
  font-weight: 500;  
  color: #ffffff91;
  font-family: "Lato",  sans-serif;
}

.tickets-page {
margin-bottom: 100px;
background-color: #ffffff;
}

.tickets-page .search-box {
background-color: #2b2320;
padding: 30px;
color: #ffffff;
}

.tickets-page .search-box h4 {
/* color: #fff; */
font-weight: 400;
font-size: 20px;
margin-top: 8px;
font-family: "Lato",  sans-serif;
}

.tickets-page .search-box select {
margin-top: 10px;
background-color: transparent;
border-bottom: 1px solid #ffffff;
/* border-bottom: 1px solid rgba(103, 6, 108, 0.5); */
border-top: none;
border-right: none;
border-left: none;
outline: none;
font-size: 14px;
width: 100%;
padding: 5px;
color: #ffffff;
}

.tickets-page .search-box option {
  background-color: #2b2320ba;
  color: #ffffff;
  /* background-color: #2b232011; */
}

.tickets-page .search-box .main-dark-button {
display: inline-block;
font-size: 14px;
padding: 12px 18px;
text-align: center;
font-weight: 500;
text-transform: capitalize;
transition: all .3s;
border: none;
outline: none;
width: 100%;
}

.tickets-page .search-box .main-dark-button:hover {
background-color: #656c74;
}

/* .tickets-page .heading h2 {
font-size: 30px;
font-weight: 800;
color: #2a2a2a;
text-align: center;
margin-top: 100px;
margin-bottom: 80px;
} */
.tickets-page .heading  {
font-size: 30px;
font-weight: 800;
color: #2b2320;
text-align: center;
margin-top: 100px;
margin-bottom: 80px;
}

.tickets-page .ticket-item .thumb {
position: relative;
}

.tickets-page .ticket-item .thumb img {
width: 100%;
overflow: hidden;
}

.tickets-page .ticket-item .thumb .price {
background-color: rgba(101,108,116,0.9);
display: inline-block;
padding: 20px;
position: absolute;
left: 30px;
bottom: 30px;
}

.tickets-page .ticket-item .thumb .price span {
/* color: #fff; */
font-size: 14px;
line-height: 25px;
}

.tickets-page .ticket-item .thumb .price span em {
font-weight: 700;
font-size: 20px;
font-style: normal;
}

.tickets-page .ticket-item {
margin-bottom: 30px;
}

.tickets-page .ticket-item .down-content {
background-color: #fafafa;
padding: 30px;;
}

.tickets-page .ticket-item .down-content span {
font-size: 14px;
color: #656c74;
font-weight: 700;
}

.tickets-page .ticket-item .down-content h4 {
font-size: 22px;
font-weight: 700;
/* color: rgba(103, 6, 108, 0.5); */
color: #2a2a2a;
margin-top: 10px;
margin-bottom: 25px;
}
.search-heading h4{
  color: #f03c02;
  font-family: "Lato",  sans-serif;
  /* color: rgba(103, 6, 108, 0.827); */
}

.tickets-page .ticket-item .down-content ul li {
font-size: 14px;
color: #2a2a2a;
font-weight: 300;
margin-bottom: 15px;
}

.tickets-page .ticket-item .down-content ul li i {
color: #7c838b;
margin-right: 10px;
width: 15px;
height: 25px;
float: left;
}

.tickets-page .ticket-item .down-content .main-dark-button {
margin-top: 30px;
}

.tickets-page .pagination ul {
text-align: center;
width: 100%;
margin-top: 30px;
}

.tickets-page .pagination ul li {
display: inline-block;
margin: 0px 10px!important;
}

.tickets-page .pagination ul li a {
display: inline-block;
font-size: 14px;
padding: 12px 20px;
background-color: #e6e7e8;
color: #2a2a2a;
text-align: center;
font-weight: 500;
text-transform: capitalize;
transition: all .3s;
}
  
.tickets-page .pagination ul li a:hover,
.tickets-page .pagination ul li.active a {
background-color: #343a3e;
color: #fff!important;
}

@media (max-width: 1036px) {

    .owl-show-events .owl-nav {
      display: none;
    }
  
  }
  
  @media (max-width: 992px) {
  
    .amazing-venues .right-content {
      margin-left: 0;
      margin-top: 45px;
    }
  
    .subscribe,
    .subscribe input,
    footer .address,
    footer .hours {
      text-align: center; 
    }
  
    .subscribe h4 {
      margin-bottom: 20px;
    }
  
    .subscribe .main-dark-button {
      margin-top: 20px;
    }
  
    footer .address {
      margin-bottom: 45px;
    }
  
    footer .hours {
      margin-top: 45px;
    }
  
    .sub-footer,
    .sub-footer .social-links {
      text-align: center;
    }
  
    .coming-events .event-item {
      margin-bottom: 30px;
    }
  
    .coming-events .left-button {
      display: none;
    }
  
    .under-footer,
    footer p.copyright {
      text-align: center;
    }
  
    .about-item .right-content {
      margin-left: 0px;
    }
  
    .about-item .down-content {
      border-left: 1px dotted #d7dadc;
    }
  
    .about-upcoming-shows .next-shows {
      margin-top: 30px;
    }
    
    .also-like .like-item {
      margin-bottom: 30px;
    }
  
    .page-heading-rent-venue span,
    .page-heading-shows-events span {
      padding: 0px;
    }
  
    .rent-venue-tabs .heading-tabs .main-dark-button,
    .shows-events-tabs .heading-tabs .main-dark-button {
      display: none;
    }
  
    .shows-events-tabs #tabs ul li {
      margin-bottom: 15px;
    }
  
    .shows-events-tabs .tabs-content .event-item .right-content ul li i {
      height: 40px;
    }
    .shows-events-tabs .tabs-content .event-item .right-content {
      padding: 30px;
    }
  
    .shows-events-tabs #tabs ul li:last-child {
      margin-bottom: 0px;
    }
  
    .shows-events-tabs .tabs-content .sidebar {
      margin-bottom: 45px;
    }
  
    .tickets-page .search-box {
      text-align: center;
    }
    
    .tickets-page .search-box .main-dark-button,
    .tickets-page .search-box select {
      margin-top: 30px;
    }
  
    .shows-events-tabs .tabs-content .pagination ul li,
    .shows-events-schedule .pagination ul li,
    .tickets-page .pagination ul li {
      margin: 0px 2px!important;
    }
  
    .ticket-details-page .right-content {
      margin-left: 0px;
      margin-top: 30px;
    }
  
    .shows-events-schedule ul li,
    .shows-events-schedule ul li .main-dark-button {
      text-align: center;
    }
  
    .shows-events-schedule ul li .title,
    .shows-events-schedule ul li .time,
    .shows-events-schedule ul li .place {
      margin-bottom: 15px;
    }
  
  }
  
  @media (max-width: 450px) {
  
    .rent-venue-tabs #tabs ul li {
      text-align: center;
      margin-right: 0px;
      display: block;
      margin-bottom: 5px;
      margin-top: 5px;
    } 
  
    .rent-venue-tabs #tabs ul .ui-tabs-active a:after,
    .shows-events-tabs #tabs ul .ui-tabs-active a:after {
      display: none;
    }
  
    .rent-venue-tabs .tabs-content ul.list {
      text-align: center;
    }
  
    .rent-venue-tabs .tabs-content ul.list li {
      text-align: center;
      width: 100%;
    }
  
    .pre-header {
      display: none;
    }
  
  }
  .btn{
    font-family: "Roboto", sans-serif;
   /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #f03c02;
  }
  
  @-webkit-keyframes move-up-down {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); } 
  }

/*** Job Listing ***/
.nav-pills .nav-item .active {
border-bottom: 2px solid var(--primary);
}

.job-item {
border: 1px solid transparent;
border-radius: 2px;
box-shadow: 0 0 45px rgba(0, 0, 0, .08);
transition: .5s;
}

.job-item:hover {
border-color: rgba(0, 0, 0, .08);
box-shadow: none;
} 

  

/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #f03c02;
    /* color: #FFFFFF; */
    background-color: #130e0e;
    /* background-color: #2086ab; */
}

.poste_detail i{
  color: #f03c02;
}

.tab-content{
  background-color: #ffffff;
}


















/********** Template CSS **********/
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

