
.page-heading-shows-events {
  background-image: url(../../../../assets/img/slides/nivo/bg-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0px 150px 0px;
  /* padding: 20px 0px 150px 0px; */
  text-align: center;
}
.page-heading-shows-events h1{
  font-size: 70px; 
  /* font-size: 40px;  */
  font-weight: 500;  
  color: #ffffff19;
  font-family:serif;

}

.tickets-page {
margin-bottom: 100px;
background-color: #FFFFFF;
}

.tickets-page .search-box {
  /* background-color: pink; */
  background-color: #4d464316;
  padding: 30px;
  color: #ffffff;
}

.tickets-page .search-box h4 {
/* color: #fff; */
font-weight: 400;
font-size: 20px;
margin-top: 8px;
font-family: "Lato",  sans-serif;
}

.tickets-page .search-box select {
margin-top: 10px;
/* background-color: transparent; */
border-bottom: 1px solid #ffffff;
border-top: none;
border-right: none;
border-left: none;
outline: none;
font-size: 14px;
width: 100%;
padding: 5px;
color: #2b2320;
}

.tickets-page .search-box option {
  background-color: white;
  /* background-color: #2b2320ba; */
  color: #2b2320;
  /* background-color: #2b232011; */
}

.tickets-page .search-box .main-dark-button {
display: inline-block;
font-size: 14px;
padding: 12px 18px;
text-align: center;
font-weight: 500;
text-transform: capitalize;
transition: all .3s;
border: none;
outline: none;
width: 100%;
}

.tickets-page .search-box .main-dark-button:hover {
background-color: #656c74;
}


.tickets-page .heading  {
font-size: 30px;
font-weight: 800;
color: #4d4643;
/* color: #2b2320; */
text-align: center;
margin-top: 100px;
margin-bottom: 80px;
}

.tickets-page .ticket-item .thumb {
position: relative;
}

.tickets-page .ticket-item .thumb img {
width: 100%;
overflow: hidden;
}

.tickets-page .ticket-item .thumb .price {
/* background-color: rgba(101,108,116,0.9); */
background-color: pink;
display: inline-block;
padding: 20px;
position: absolute;
left: 30px;
bottom: 30px;
}

.tickets-page .ticket-item .thumb .price span {
/* color: #fff; */
font-size: 14px;
line-height: 25px;
}

.tickets-page .ticket-item .thumb .price span em {
font-weight: 700;
font-size: 20px;
font-style: normal;
}

.tickets-page .ticket-item {
margin-bottom: 30px;
}

.tickets-page .ticket-item .down-content {
background-color: #fafafa;
padding: 30px;;
}

.tickets-page .ticket-item .down-content span {
font-size: 14px;
color: #656c74;
font-weight: 700;
}

.tickets-page .ticket-item .down-content h4 {
font-size: 22px;
font-weight: 700;
/* color: rgba(103, 6, 108, 0.5); */
color: #2a2a2a;
margin-top: 10px;
margin-bottom: 25px;
}
.search-heading h4{
  color: #f03c02;
  font-family: "Lato",  sans-serif;
  /* color: rgba(103, 6, 108, 0.827); */
}

.tickets-page .ticket-item .down-content ul li {
font-size: 14px;
color: #2a2a2a;
font-weight: 300;
margin-bottom: 15px;
}

.tickets-page .ticket-item .down-content ul li i {
color: #7c838b;
margin-right: 10px;
width: 15px;
height: 25px;
float: left;
}

.tickets-page .ticket-item .down-content .main-dark-button {
margin-top: 30px;
}

.tickets-page .pagination ul {
text-align: center;
width: 100%;
margin-top: 30px;
}

.tickets-page .pagination ul li {
display: inline-block;
margin: 0px 10px!important;
}

.tickets-page .pagination ul li a {
display: inline-block;
font-size: 14px;
padding: 12px 20px;
background-color: #e6e7e8;
color: #2a2a2a;
text-align: center;
font-weight: 500;
text-transform: capitalize;
transition: all .3s;
}
  
.tickets-page .pagination ul li a:hover,
.tickets-page .pagination ul li.active a {
/* background-color: #343a3e; */
background-color: palevioletred;
color: #fff!important;
}


  @media (max-width: 992px) {

    .subscribe,
    .subscribe input {
      text-align: center; 
    }
  
    .subscribe h4 {
      margin-bottom: 20px;
    }
  
    .subscribe .main-dark-button {
      margin-top: 20px;
    }

    .page-heading-shows-events span {
      padding: 0px;
    }
  
    .tickets-page .search-box {
      text-align: center;
    }
    
    .tickets-page .search-box .main-dark-button,
    .tickets-page .search-box select {
      margin-top: 30px;
    }
  
    .tickets-page .pagination ul li {
      margin: 0px 2px!important;
    }
  
  }

  .btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    /* color: #fff;
    background: #f03c02; */
  }
  
  @-webkit-keyframes move-up-down {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); } 
  }

/*** Job Listing ***/

.job-item {
border: 1px solid transparent;
border-radius: 2px;
box-shadow: 0 0 45px rgba(0, 0, 0, .08);
transition: .5s;
}

.job-item:hover {
border-color: rgba(0, 0, 0, .08);
box-shadow: none;
} 

  

/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary, .btn.btn-outline-danger {
    color: #f03c02;
    background-color: #4d4643;
}

.poste_detail i{
  color: #f03c02;
}

.tab-content{
  background-color: #ffffff;
}

.btn.btn-outline-dark:hover{
  background-color: #f03c02;
  color: #ffffff;
  border: #f03c02;
}
.btn.btn-outline-danger:hover{
  background-color: #f03c02;
  color: #ffffff;
  border: #f03c02;
}
















/********** Template CSS **********/
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

