.header__navbar{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1d1d1b;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;

}

