.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: grey;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 42, 112, 0.351);
  background-color: #0c0b0b15;
}
  /**couleur du texte de la sidebar + sidebar*/
.sidebar-nav .nav-link.collapsed {
  color: #ffffffaa;
  background-color:rgba(15, 77, 119, 0.786);
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color:rgba(15, 77, 119, 0.188);
  margin-top: 30%;
}
a {
  color: white;

  text-decoration: none;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #0f0e0e;
}


.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;

}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

/*couleur du texte de la nav quand on descend la fleche*/
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: rgb(15, 78, 119);
  /* color: #4154f1; */
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

/*la couleur des toolip quand on descend le bouton de la nav*/
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: rgb(15, 78, 119);
}
/*couleur des tooltip de la sidebar*/
.sidebar-nav .nav-link.collapsed i {
  color: #f6f9ffa5;
} 

/* hoover des couleurs du texte de la sidebar**/
.sidebar-nav .nav-link:hover {
  color: rgb(15, 78, 119);
  background: #f6f9ffa4;
}

.sidebar-nav .nav-link:hover i {
  color: rgb(15, 78, 119);
}
.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}
.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
/**couleur du hover  des sous ensemble*/
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: rgba(15, 77, 119, 0.786);
}

  
@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

@media (min-width: 1200px) {
  
  #main {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main{
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}


 


  
  

  

  

  /* .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  } */
  

  .sidebar-nav .nav-heading {
    /* font-size: 11px;
    text-transform: uppercase;
    color: red; */
    /* color: #899bbd; */
    /* font-weight: 600;
    margin: 10px 0 5px 15px; */

  }



  


  

  

  
  /* .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
  } */
  

  

  

  

  .sidebar-nav .nav-content a.active i {
    /* background-color: pink; */
    /* background-color: #4154f1; */
  }
